@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Croissant One', cursive;
    padding-top: 60px;
}
.container{
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.addTodo{
    margin: 30px;
    width: 50%;
    height: 50px;
}
form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 65% 25%; 
    align-items: center;
    justify-content: space-evenly;
}
form input , form button{
    height: 100%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Croissant One', cursive;
}
form input{
    background-color: #393E46;
    color: #EEEEEE;
    outline: 0;
    padding-inline: 20px;
}
form button{
background-color: #00ADB5;
color: #EEEEEE;
cursor: pointer;
}
form button:hover{
    box-shadow: 0px 4px 4px rgba(168, 163, 163, 0.2);
}

.addList{
    margin: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    padding: 25px;
}
.info{
    height: 60%;
    width: 100%;
    padding: 5px;
}
.info input{
    width: 100%;
    height: 100%;
    outline: 0;
    font-size: 20px;
    border: none;
    font-family: 'Croissant One', cursive;
    background-color: #222831;
    color: #EEEEEE;
}
.list{
    width: 100%;
    height: 80px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px ;
    border-bottom: 2px solid #EEEEEE;
}
.info{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.delAndedit{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.editList{
    background-color: #00ADB5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.save{
    display: none;
}
.delList{
    background-color: #F45050;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list:last-child {
    border: none;
}
.fa-regular,.fa-solid {
    cursor: pointer;
}
.delButton button{
background-color: #393E46;
color: #F45050;
font-size: 20px;
border: none;
border-radius: 5px;
font-family: 'Croissant One', cursive;
padding: 5px 15px;
cursor: pointer;
margin: 40px;
}
.delButton button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.logOut {
    align-self: flex-start;
    margin-inline:200px;
}
.logOut button{
    cursor: pointer;
    font-family: 'Croissant One', cursive;
    background-color: #F45050;
    color: #EEEEEE;
    border: none;
    outline: 0;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
}
.logOut button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
/* responsive */
@media screen and (max-width: 1540px){
    .container{
        width: 70%;
    }
    .logOut {
        align-self: flex-start;
        margin-inline:100px;
    }
    .logOut button{
        font-size: 20px;
        padding: 15px;
    }
    .delAndedit{
        width: 100px;
    }
    .addList{
        width: 100%;
    }
    .addTodo{
        margin: 30px;
        width: 80%;
        height: 50px;
    }
}
@media screen and (max-width: 1280px){
    .logOut button{
        padding: 10px;
    }
}
@media screen and (max-width: 1024px){
    .container{
        width: 80%;
    }
}
@media screen and (max-width: 924px){
    .container{
        width: 90%;
    }
    .logOut {
        align-self: flex-start;
        margin-inline:40px;
        margin-bottom: 60px;
    }
    .logOut button{
        font-size: 15px;
        padding: 10px;
    }
    .addTodo{
        width: 90%;
    }
    body{
        font-size: 15px;
    }
    form input , form button{
        font-size: 15px;
    }
    .list{
        font-size: 15px;
    }
    .delButton button{
        font-size: 18px;
        }
        .info input{
            font-size: 15px;
        }
        .info{
            width: 90%;
        }
}
@media screen and (max-width: 624px){
    .container{
        width: 100%;
    }
    .logOut {
        align-self: flex-start;
        margin-inline:40px;
        margin-bottom: 50px;
    }
    .logOut button{
        font-size: 14px;
        padding: 10px;
    }
    .addTodo{
        width: 100%;
    }
    .delAndedit{
        width: 70px;
    }
    .delButton button{
        font-size: 18px;
        }
    .addList{
        padding: 15px;
    }
        .list{
            padding-inline: 0px ;
        }
        .editList{
            width: 30px;
            height: 30px;
        }
        .delList{
            width: 30px;
            height: 30px;
        }
        body{
            padding-top: 40px;
        }
        .info{
            width: 80%;
        }
}


