@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Croissant One', cursive;
}
.container{
    width: 360px;
    padding: 20px;
    background-color: #393E46;
    border-radius: 20px;
}
.Title{
    margin: 30px;
}
.Title h1{
    text-align: center;
    font-size: 50px;
}
label,input{
    margin-bottom: 20px;
}
input{
    width: 320px;
    height: 35px;
    background-color: #EEEEEE;
    font-family: 'Croissant One', cursive;
    outline: 0;
    border: none;
    padding: 10px;
}
a{
    font-size: 15px;
    color: #00ADB5;
}
.s{
    text-align: center;
}
.signBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signBtn button{
    font-family: 'Croissant One', cursive;
    border-radius: 20px;
    width: 90%;
    border: none;
    color: #EEEEEE;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #4477CE;
    margin: 20px;
}